/* stylelint-disable */
@import "./styles/theme.css";
@import "./styles/fonts.css";
@import "./styles/desktop.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  h1, h2, h3 {
    @apply font-styreneB font-medium;
  }

  h4, h5, h6 {
    @apply font-styreneA font-medium;
  }

  p, li, blockquote {
    @apply font-tiempos font-normal;
  }

  button, a.btn {
    @apply font-styreneB font-medium;
  }
}
/* stylelint-enable */